
[LOGGING]
    # Allowed LOGLEVEL
    # DEBUG, WARNING, ERROR, CRITICAL, INFO
    LOGLEVEL = DEBUG
    LOGFILE = ./SungrowQuery.log
    LOGMODE= SYSLOG
   # LOGMODE = LOGFILE
    #LOGMODE = PRINT
    NAME = SUNGROW2MQTT
    LOGSERVER= 192.168.2.20

[BROKER]
  HOST= 192.168.2.20
  PORT= 1883
  PUBLISH= SMARTHOME/CH/BE/SENSOR01/SUNGROW01/STATUS


[SUNGROW]
   HOST= 192.168.2.81
