# Configfile example conifiguration

[LOGGING]
    # Allowed LOGLEVEL
    # DEBUG, WARNING, ERROR, CRITICAL, INFO
    LOGLEVEL = DEBUG
    LOGFILE = ./SungrowQuery.log
    #LOGMODE= SYSLOG
   # LOGMODE = LOGFILE
    LOGMODE = PRINT
    NAME = SungrowQuery
    LOGSERVER= 192.168.2.50

[BROKER]
  HOST= 192.168.2.20
  PORT= 1883
  PUBLISH= SMARTHOME/CH/BE/SUNGROW01/STATUS


[SUNGROW]
   HOST= 192.168.2.81
