#Contents of /etc/systemd/system/Sungrow2mqtt.service
#systemctl daemon-reload
#systemctl enable Sungrow2mqtt.service
#systemctl start Sungrow2mqtt.service

[Unit]
Description=Sungrow2mqtt
After=multi-user.target

[Service]
Type=idle
ExecStart=/opt/Sungrow2mqtt/Sungrow2mqtt.py /opt/Sungrow2mqtt/Sungrow2mqtt.config
Restart=on-failure
RestartSec=5s


[Install]
WantedBy=multi-user.target
